.desktop {
  display: none;
}
.mobile {
  display: block;
}
body {
  font-family: 'Ubuntu', sans-serif;
/*   background-image: url("https://app.piwebinars.co.uk/img/background.png"); */
  color: #b44afb;
  text-align: center;
}
h1 {
  color: #FBB44A;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.profile{
  height: auto;
  width: 85%;
  display: flex;
  min-height: 15vh;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 2rem auto;
  padding: 2rem .5rem;
  border: .4rem solid #000;
}
.avatar{
  width: auto;
  min-width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.avatar img{
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: space-evenly;
}
#verified_icon{
  height: 25px;
  width: 30px;
}
.stats{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stats .followBtn{
  margin-top: 2rem;
}
.stats .followBtn button{
  all: unset;
  padding: 1rem; 
  background: rgb(9, 94, 151); 
  color: white;
  border-radius: .5rem;
  width: 50%;
  margin: .5rem auto;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3rem;
}
.user_stats{
  width: 100%;
  min-width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.user_stats p{
  width: 100%;
  font-weight: bolder;
  font-size: 1.2rem;
}
.searchedUserLink{
  width: 40%;
  display: flex;
  text-decoration: none;
  align-items: center;
}
.name_section{
  align-items: flex-start;
  width: auto;
  min-width: 70%;
  text-align: left;
  padding: 0;
}
.name_section p{
  color: rgb(75, 72, 72);
  line-height: 1rem;
}
.name_section p:first-child{
  font-size: 1.2rem;
  font-weight: bold;
}
.name_section p:last-child{
  font-size: 1.1rem;
}
.searched_user_avatar{
  height: 100%;
  width: 20%;
}
[data-*]{
  visibility: hidden;
}
a.authNav, a.unAuthNav {
  display: none;
}
.showNav{
  display: block;
}
.hideElem{
  display: none;
}
h2 {
  color: #FBB44A;
  text-align: center; 
  border-radius: 5px;
  margin-top: 0px;
}
span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
.center-text{
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}
.error_log{
  background-color: #4afbb4;
  color: #b44afb;
  width: 90%;
  min-height: 10vh;
  height: auto;
  margin: 1rem auto;
  font-size: 1.3rem;
}
.error_log p{
  font-weight: bolder;
  text-align: center;
}
h5 {
  display: block;
/*   color: #36454F; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#webinar {
  display: none;
}
#upload_btn {
  padding: 5px;
  border: outset 2px;
  border-color: #b44afb;
  background-color: #fbb44a;
  font-size: 15px;
  font-weight: bold;
}
button {
  background-color: #FBB44A;
/*   color: #36454F; */
  padding: 0px 30px;
  font-size: 15px;
  border: outset;
  border-color: #fbb44a;
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
  button:active {
  background-color: #FBB44A;
  transform: translateY(3px);
  border: solid;
  border-color: #fbb44a;
}
.ul {
  text-align: left;
}
.li, .a {
  display: inline-block;
  color: #FBB44A;  
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 0px 7.5px;
}
.li:active, .li:hover {
  background-color: #36454F;
}

.li {
  border-right: 1px solid #36454F;
}
.li:last-child {
  border-right: none;
}
.footer, #footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 10px 10px black;
  z-index: 100;
}
.gap {
  margin-bottom: 20px;
}
#categories {
  font-size: 25px;
}
.back_button {
  text-decoration: none;
  display: inline-block;
  text-align: left;
/*   color: #36454F; */
  margin-bottom: 20px;
  border-style: solid;
  border-color: #FBB44A;
}
#myUL {
  border-style: none;
}
.list {
  font-size: 15px;
  background: #FFFFFF;
/*   color: #36454F; */
  margin-bottom: 1px;
  text-decoration: none;
  text-align: center;
  dlay: block;
  border-radius: 5px;
}
label {
  font-weight: bold;
}
#select, .searchbar {
  padding: 5px;
  color: #36454F;
  border-color: #FBB44A;
  border-radius: 7.5px;
  width: 150px;
  border-style: solid;
  border-width: 1px;
}
.fa-search:active, .fa-plus:active, .fa-minus:active {
  color: #E9E9E9;
}
.column {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.deleteAccount, .logout, .logoutAll {
  color: red;
  margin-top: 10px;
  background: #FFFFFF;
  border-style: none;
  font-size: 10px;
  box-shadow: none;
}
#translate {
  color: #4afbb4;
  margin-top:10px;
  background: #FFFFFF;
  border-style: none;
  font-size: 10px;
  box-shadow: none;
}
.register, .login {
  color: #b44afb;
  margin-top: 10px;
  background: #4afbb4;
  border-style: none;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: none;
}
:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
.landing {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
  z-index: 200;
  padding: 10px;
  line-height: 1.8;
}
.landingBtn {
  padding: 5px;
  border: outset 2px;
  border-color: #b44afb;
  background-color: #fbb44a;
  font-size: 15px;
  font-weight: bold;
  width: 80vw;
  opacity: 1;
}
.landingBtnDesk {
  padding: 5px;
  border: outset 2px;
  border-color: #b44afb;
  background-color: #fbb44a;
  font-size: 15px;
  font-weight: bold;
  width: 40vw;
  opacity: 1;
/*   position: absolute;
  left: 50px; */
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  z-index: 200;
}
.is-visible {
  visibility: visible;
  opacity: 0.9;
}
.cinema-visible {
  visibility: visible;
  opacity: 1;
}
.modal-dialog {
  width: 95%;
  background: var(--white);
}
.modal-dialog > * {
  padding: 20px;
}
.modal-header {
  background: var(--lightgray);
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa, .fab {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  float: right;
  color: black;
}
.fas {
  color: #36454F;
}
.fa:hover, .fab:hover {
    opacity: 0.7;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #cd486b;
  color: white;
}
.fa-discord {
  background: #125688;
  color: white;
}
.both {
	height: 400px;
	background: #E9E9E9;
	overflow-y: scroll;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.left {
	float: left;
  width: 45%;
}
.right {
  float: right;
  width: 45%;
}
.force-overflow {
	min-height: 1000px;
}
.both::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.both::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}
.both::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #FBB44A;
}
.loadImage {
  background-image: url("/img/loadImage.png");
  height: 100vh; 
  z-index: 200;
  padding: 0;
  margin-top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#google_translate_element {
  display: none;
}
.searchuserbuttonhref {
  all: unset;
  padding: 0.5rem; 
  background: rgb(9, 94, 151); 
  color: white;
  border-radius: .5rem;
  margin: .2rem auto;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #E9E9E9;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #E9E9E9;
}
.title {
  border: solid 2px;
  border-color: #4afbb4;
  border-radius: 5px;
  margin-top: 15px;
  background: #ffffff;
}
.thumbnail {
  width: 94vw;
}
#Video, .video {
  width: 100vw;
  height: 56.2vw;
}
.videoTitle {
  border-bottom: solid;
  border-color: #4afbb4;
  margin-top: 20px;
  background: #FFFFFF;
}
#stats {
  text-align: left;
}
#join {
  position: relative;
}
#joinImg {
  position: relative;
  width: 90vw;
  margin-top: 30px;
  margin-bottom: 30px;
}


/**************************************Desktop Styling*******************************************/



@media screen and (min-width: 620px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  body {
  font-family: 'Ubuntu', sans-serif;
  color: #36454F;
  text-align: center;
  background: #FFFFFF;
}
h1 {
  color: #FBB44A;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.profile{
  flex-direction: row;
}
.avatar{
  min-width: 30%;
}
.avatar img{
  height: 100px;
  width: 100px;
}
.user_stats{
  min-width: 60%;
}
h2 {
  color: #FBB44A;
  text-align: center; 
  border-radius: 5px;
  margin-top: 0px;
}
span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
h5 {
  display: block;
  color: #36454F;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#webinar {
  display: none;
}
#title {
  border-style: solid;
  border-color: #36454F;
  border-radius: 5px;
  margin-top: 20px;
  background: #FFFFFF;
}
button {
  background-color: #FBB44A;
  color: #36454F;
  padding: 0px 30px;
  font-size: 15px;
  border: outset;
  border-color: #fbb44a;
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
  button:active {
  background-color: #FBB44A;
  transform: translateY(3px);
  border: solid;
  border-color: #fbb44a;
}
.ul {
  text-align: left;
}
.li, .a {
  display: inline-block;
  color: #FBB44A;  
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 0px 3px;
}
.li:active, .li:hover {
  background-color: #36454F;
}

.li {
  border: none;
  margin-top: 5px;
}
.li:last-child {
  border-right: none;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
  z-index: 100;
  top: 0;
  box-shadow: 1px 1px 1px;
}
.gap {
  margin-bottom: 20px;
}
#categories {
  font-size: 25px;
}
.back_button {
  text-decoration: none;
  display: inline-block;
  text-align: left;
  color: #36454F;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #FBB44A;
}
#myUL {
  border-style: none;
}
.list {
  font-size: 15px;
  background: #FFFFFF;
  color: #36454F;
  margin-bottom: 1px;
  text-decoration: none;
  text-align: center;
  dlay: block;
  border-radius: 5px;
}
label {
  font-weight: bold;
}
#select {
  padding: 5px;
  color: #36454F;
  border-color: #FBB44A;
  border-radius: 7.5px;
  width: 150px;
}
.column {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.deleteAccount, .logout, .logoutAll {
  color: red;
  margin-top: 10px;
  background: #FFFFFF;
  border-style: none;
  font-size: 10px;
  box-shadow: none;
}
.signedIn{
  display: none;
}
.register, .login {
  color: #b44afb;
  margin-top: 10px;
  background: #4afbb4;
  border-style: none;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
}
:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  z-index: 200;
}
.is-visible {
  visibility: visible;
  opacity: 1;
}
.modal-dialog {
  width: 95%;
  background: var(--white);
}
.modal-dialog > * {
  padding: 20px;
}

.modal-header {
  background: var(--lightgray);
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: spae-between;
}
.fa, .fab {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.fa:hover, .fab:hover {
    opacity: 0.7;
}
.fa-twitter {
  background: #00acee;
  color: white;
}
.fa-instagram {
  background: #cd486b;
  color: white;
}
.fa-discord {
  background: #7289da;
  color: white;
}
.both {
	height: 400px;
	background: #E9E9E9;
	overflow-y: scroll;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.left {
	float: left;
  width: 45%;
}
.right {
  float: right;
  width: 45%;
}
.force-overflow {
	min-height: 1000px;
}
.yourWebinars::-webkit-scrollbar {
	width: 10px;
	background-color: #FFFFFF;
}
.yourWebinars::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #FBB44A;
}
.mainWebinars::-webkit-scrollbar {
	width: 10px;
	background-color: #FFFFFF;
}
.mainWebinars::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #FBB44A;
}
.purchasedWebinars::-webkit-scrollbar {
	width: 10px;
	background-color: #FFFFFF;
}
.purchasedWebinars::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #FBB44A;
}
.selection::-webkit-scrollbar {
	width: 10px;
	background-color: #FFFFFF;
}
.selection::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #FBB44A;
}
  .grid {
  	display: grid;
	  text-align: center;
    height: 80vh;
  }
  .mainWebinars {
    grid-column: 2 ;
	  grid-row: 1/3;
    height: 85vh;
    width: 60vw;
    border-right: solid 1px;
    overflow-y: scroll;
  }
  .mainWebinarsContain {
    column-count: 3;
    column-width: 100px;
    padding-right: 5px;
  }
  .purchasedWebinars {
    grid-column: 3;
    height: 40vh;
    width: 20vw;
    border-bottom: solid 1px;
    overflow-y: scroll;
    padding-right: 4vw;
    padding-left: 3vw;
  }
  .yourWebinars {
    grid-column: 3;
    height: 40vh;
    width: 20vw;
    overflow-y: scroll;
    padding-right: 4vw;
    padding-left: 3vw;
  }
  .selection {
    grid-column: 1;
    grid-row: 1/3;
    width: 12vw;
    overflow-y: scroll;
    text-align: left;
  }
  .tablet {
    display: none;
  }
  #copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #FFFFFF;
  }
  .title {
    break-inside: avoid-column;
    color: #b44afb;
    max-width: 20vw;
  }
  .thumbnail {
    width: 18vw;
  }
  #title {
    border-style: none;
    color: #b44afb;
    font-size: 30px;
  }
  #Video {
    top: 400px;
    width: 50vw;
    height: 35vh;
  }
  .video {
    width: 18vw;
    height: 10vw;
    color: #b44afb;
  }
  .videoTitle {
    border: solid;
    border-radius: 5px;
    border-color: #4afbb4;
    color: #b44afb;
    margin-top: 20px;
    background: #FFFFFF;
    max-width: 20vw;
  }
  #joinImg {
    width: 60vh;
  }
  .cinema-visible {
    visibility: visible;
    opacity: 1;
  }
  .filter:hover {
    color: #b44afb;
  }
  .filter:active {
    color: #b44afb;
    background: #fbb44a;
  }
  .followingStyle:hover {
    color: #b44afb;
  }
  #grid {
    margin-top: 60px;
    grid-template-columns: [col1] 40% [col2] 25% [col3] 30%;
    grid-template-rows: [row1] 45vh [row2] 45vh;
    display: grid;
	  text-align: center;
    overflow: hidden;
  }
  .grid_1 {
    grid-column: 1;
    grid-row: 1 / 3;
    margin-left: -100px;
  }
  .grid_2 {
    grid-column: 2;
    grid-row: 1;
  }
  .grid_3 {
    grid-column: 2;
    grid-row: 2;
  }
  .grid_4 {
    grid-column: 3;
    grid-row: 1;
  }
  .grid_5 {
    grid-column: 3;
    grid-row: 2;
  }
}

@media screen and (max-width: 900px) and (min-width: 620px) {
  .tablet {
    display: block;
  }
  .searchHeader {
    display: none;
  }
  #joinImg {
    position: absolute;
    right: 2vw;
    top: 100px;
    width: 60vh;
  }
  .grid {
  	display: grid;
	  text-align: center;
    height: 80vh;
  }
  .mainWebinars {
    grid-column: 1 ;
	  grid-row: 1/3;
    height: 85vh;
    width: 60vw;
    border-right: solid 1px;
    overflow-y: scroll;
  }
  .mainWebinarsContain {
    column-count: 2;
    column-width: 100px;
    padding-right: 5px;
  }
  .purchasedWebinars {
    grid-column: 2;
    height: 40vh;
    width: 30vw;
    border-bottom: solid 1px;
    overflow-y: scroll;
    padding-right: 5vw;
    padding-left: 4vw;
  }
  .yourWebinars {
    grid-column: 2;
    height: 40vh;
    width: 30vw;
    overflow-y: scroll;
    padding-right: 5vw;
    padding-left: 4vw;
  }
  #copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #FFFFFF;
  }
  .title {
    break-inside: avoid-column;
    color: #b44afb;
    max-width: 30vw;
  }
  .thumbnail {
    width: 27vw;
  }
  #title {
    border-style: none;
    color: #b44afb;
    font-size: 30px;
  }
  #Video {
    top: 400px;
    width: 50vw;
    height: 35vh;
  }
  .video {
    width: 27vw;
    height: 15.5vw;
    color: #b44afb;
  }
  .videoTitle {
    border: solid;
    border-radius: 5px;
    border-color: #4afbb4;
    color: #b44afb;
    margin-top: 20px;
    background: #FFFFFF;
    max-width: 30vw;
  }
  .selection {
    display: none;
  }
}