.desktop {
  display: none;
}
.mobile {
  display: block;
}
body {
  font-family: "Ubuntu", sans-serif;
  background: #ffffff;
  /*   background-image: url("https://app.piwebinars.co.uk/img/background.png"); */
  color: #36454f;
  text-align: center;
}
h1 {
  color: #fbb44a;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
#commentsContainer{
  width: 100%;
  font-weight: bold;
}
#commentsContainer ul{
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#commentsContainer ul li{
  list-style: none;
  border-right: 2px solid #accfe6;
  padding-inline: .35rem;
  cursor: pointer;
  transition: transform .2s ease-out; 
}
#commentsContainer ul li:hover{
  transform: scale(1.03);
}
.editCommentModal{
  position: relative;
  bottom: 0;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}

.editCommentModal .close_editModal p{
  position: fixed;
  top: 5%;
  right: 5%;
  transform: translate(-5%, -5%);
  color: red;
  font-weight: bolder;
  font-size: 1.5rem;
  background: white;
  padding: .5rem;
  cursor: pointer;
  z-index: 100000;
}

.editCommentForm{
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  border-radius: .5rem;
  padding: 3rem;
  background-color: rgb(107, 106, 106);
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.75);
}

.editCommentForm input {
  margin-block: 2rem;
  border: none;
  padding: .5rem;
  border-radius: .5rem;
  background: rgb(0, 0, 0);
  color: #ffffff;
  font-weight: bold;
}
.interactiveDiv{
  border-bottom: 1px solid #accfe6;
  padding-bottom: -1rem;
  margin-bottom: 1rem;
}
.interactiveDivCounts{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}
.commentReplyBox{
  height: 100%;
  width: 100%;
}
.profile {
  height: auto;
  width: 95%;
  display: flex;
  min-height: 10vh;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
}
.avatar {
  width: auto;
  min-width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.avatar img {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  padding-right: 10px;
}
#verified_icon {
  height: 20px;
  width: 24px;
}
.stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stats .followBtn {
  margin-top: 0rem;
}
.stats .followBtn button {
  all: unset;
  padding: 0.2rem;
  background: rgb(9, 94, 151);
  color: white;
  border-radius: 0.5rem;
  width: 40%;
  margin: 0.5rem auto;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}
.user_stats {
  width: 100%;
  min-width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.user_stats p {
  width: 100%;
  font-weight: bolder;
  font-size: 1.2rem;
}
.searchedUserLink {
  width: 40%;
  display: flex;
  text-decoration: none;
  align-items: center;
}
.name_section {
  align-items: flex-start;
  width: auto;
  min-width: 70%;
  text-align: left;
  padding: 0;
}
.name_section p {
  color: rgb(75, 72, 72);
  line-height: 1rem;
}
.name_section p:first-child {
  font-size: 1.2rem;
  font-weight: bold;
}
.name_section p:last-child {
  font-size: 1.1rem;
}
.searched_user_avatar {
  height: 100%;
  width: 20%;
}
[data-*] {
  visibility: hidden;
}
a.authNav,
a.unAuthNav {
  display: none;
}
.showNav {
  display: block;
}
.hideElem {
  display: none;
}
h2 {
  color: #fbb44a;
  text-align: center;
  border-radius: 5px;
  margin-top: 0px;
}
h3 {
  font-weight: normal;
}
span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
.center-text {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}
.error_log {
  background-color: #4afbb4;
  color: #b44afb;
  width: 90%;
  min-height: 10vh;
  height: auto;
  margin: 1rem auto;
  font-size: 1.3rem;
}
.error_log p {
  font-weight: bolder;
  text-align: center;
}
h5 {
  display: block;
  /*   color: #36454F; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#webinar {
  display: none;
}
#upload_btn {
  padding: 5px;
  border: outset 2px;
  border-color: #b44afb;
  background-color: #fbb44a;
  font-size: 15px;
  font-weight: bold;
}
button {
  background-color: #fbb44a;
  /*   color: #b44afb; */
  padding: 0px 30px;
  font-size: 15px;
  border: outset;
  border-color: #4afbb4;
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
button:active {
  background-color: #fbb44a;
  transform: translateY(3px);
  border: solid;
  border-color: #fbb44a;
}
.ul {
  text-align: left;
}
.li,
.a {
  display: inline-block;
  color: #fbb44a;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 0px 7.5px;
  margin-top: -2.5px;
}
.li:active,
.li:hover {
  color: #b44afb;
}
/* .li {
  border-right: 1px solid #36454f;
}
.li:last-child {
  border-right: none;
} */
.footer,
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px 10px black;
  z-index: 100;
}
.gap {
  margin-bottom: 20px;
}
#categories {
  font-size: 25px;
}
.back_button {
  text-decoration: none;
  display: inline-block;
  text-align: left;
  /*   color: #36454F; */
  margin-bottom: 20px;
  border-style: solid;
  border-color: #fbb44a;
}
#myUL {
  border-style: none;
}
.list {
  font-size: 15px;
  background: #ffffff;
  /*   color: #36454F; */
  margin-bottom: 1px;
  text-decoration: none;
  text-align: center;
  display: block;
  border-radius: 5px;
}
label {
  font-weight: bold;
}
#select,
.searchbar {
  padding: 5px;
  color: #36454f;
  border-color: #fbb44a;
  border-radius: 7.5px;
  width: 150px;
  border-style: solid;
  border-width: 1px;
}
.fa-search:active,
.fa-plus:active,
.fa-minus:active {
  color: #e9e9e9;
}
.column {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.deleteAccount,
.logout,
.logoutAll {
  color: red;
  margin-top: 10px;
  background: none;
  border-style: none;
  font-size: 10px;
  box-shadow: none;
}
#translate {
  margin-top: 10px;
  margin-bottom: 20px;
  background: #b44afb;
  border-style: none;
  font-size: 16px;
  box-shadow: none;
}
.register,
.login {
  color: #b44afb;
  margin-top: 10px;
  background: #4afbb4;
  border-style: none;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: none;
}
:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
.landing {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
  z-index: 200;
  padding: 10px;
  line-height: 1.8;
}
.landingBtn {
  padding: 5px;
  border: outset 2px;
  border-color: #b44afb;
  background-color: #fbb44a;
  font-size: 15px;
  font-weight: bold;
  width: 80vw;
  opacity: 1;
}
.landingBtnDesk {
  padding: 5px;
  border: outset 2px;
  border-color: #b44afb;
  background-color: #fbb44a;
  font-size: 15px;
  font-weight: bold;
  width: 40vw;
  opacity: 1;
  /*   position: absolute;
  left: 50px; */
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  z-index: 200;
}
.is-visible {
  visibility: visible;
  opacity: 0.9;
}
.cinema-visible {
  visibility: visible;
  opacity: 1;
}
#info {
  display: block;
  overflow: scroll;
  text-align: justify;
  width: 106vw;
}
.modal-dialog {
  width: 95%;
  background: var(--white);
}
.modal-dialog > * {
  padding: 20px;
}
.modal-header {
  background: var(--lightgray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa,
.fab {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  float: right;
  color: black;
}
.fas {
  color: #36454f;
}
.fa:hover,
.fab:hover {
  opacity: 0.7;
}
.both {
  height: 400px;
  background: #e9e9e9;
  overflow-y: scroll;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.left {
  float: left;
  width: 45%;
}
.right {
  float: right;
  width: 45%;
}
.force-overflow {
  min-height: 1000px;
}
.both::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.both::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
.both::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fbb44a;
}
.loadImage {
  background-image: url("/img/loadImage.png");
  height: 100vh;
  z-index: 200;
  padding: 0;
  margin-top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#google_translate_element, #google_translate {
  display: none;
}
.searchuserbuttonhref {
  all: unset;
  padding: 0.5rem;
  background: rgb(9, 94, 151);
  color: white;
  border-radius: 0.5rem;
  margin: 0.2rem auto;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #e9e9e9;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #e9e9e9;
}
.title {
  border-bottom: solid 1px;
  border-image: 
    linear-gradient(
      to right, 
      #b44afb, 
      #4afbb4
    ) 1 0%;
  border-color: #4afbb4;
/*   border-radius: 5px; */
  margin-top: 10px;
  padding-bottom: 10px;
  background: #ffffff;
  color: #36454f;
  font-weight: normal;
}
.title:first-child {
  border-top: solid 1px;
  border-color: #4afbb4;
  padding-top: 10px;
}
.thumbnail {
  width: 94vw;
}
#Video,
.video {
  margin-top: -20px;
  width: 100vw;
  height: 56.2vw;
}
.videoTitle {
  border-bottom: solid 1px;
  border-image: 
    linear-gradient(
      to right, 
      #b44afb, 
      #4afbb4
    ) 1 0%;
  border-color: #4afbb4;
  margin-top: 30px;
  background: #ffffff;
}
#stats {
  text-align: left;
}
#join {
  position: relative;
}
#joinImg {
  position: relative;
  width: 90vw;
  margin-top: 30px;
  margin-bottom: 30px;
}
.statDiv {
  display: grid;
  text-align: center;
  color: #36454f;
}
.webinarPrice {
  grid-column: 2;
  grid-row: 2;
  margin-left: 50px;
  margin-top: 1px;
}
.webinarLike {
  grid-column: 2;
  grid-row: 2;
  margin-right: 50px;
}
.webinarCategory {
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 8px;
}
.webinarName {
  grid-column: 1;
  grid-row: 1;
  max-width: 80%;
  margin-top: 5px;
}
.categoryBlock {
  height: 80vh;
  overflow-y: scroll;
  margin-bottom: 5px;
  border-bottom: solid #fbb44a 3px;
  border-top: solid #fbb44a 3px;
/*   background: #ffffff; */
}
#postComment {
  border: outset 2px;
  border-color: #b44afb;
  background-color: #fbb44a;
}
#float {
  position: fixed;
	bottom: 65px;
	right: 15px;
	background-color: #fff;
	color: #000;
	border-radius:20px;
  text-align: center;
  padding: 1px;
  margin: auto;
	box-shadow: 2px 2px 30px #000;
}
.fa {
  margin: auto;
  padding: 3px;
}
#piBrowser {
  display: block;
  margin: auto;
  padding: 3px;
}
#back-float {
  position: fixed;
	bottom: 75px;
	left: 15px;
  width: 30px;
  height: 30px;
	background-color: #fff;
	color: #000;
	border-radius:20px;
  text-align: center;
  padding: 5px;
  margin: auto;
	box-shadow: 2px 2px 30px #000;
  font-size: 25px;
}
.commentDiv {
  display: flex;
}
.commentName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-right: auto;
  font-weight: bold;
  font-size: 14px;
}
.commentText {
  display: block;
  text-align:  left;
  padding: 15px;
  margin-top: -10px;
  margin-bottom: -1%;
  color: #36454f;
}
.commentDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-right: 10px;
  font-size: 12px;
}
.commentAvatar {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: row;
  margin: 10px;
}
#cat_selector {
  color: #36454f;
  text-align: center;
}
#displayUserHandle, .statStyle {
  font-weight: normal;
}
.grid_3, #description {
  color: #36454f;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #b44afb;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/**************************************Desktop Styling***********nd:**************************/

@media screen and (min-width: 620px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  body {
    font-family: "Ubuntu", sans-serif;
    color: #36454f;
    text-align: center;
    background: #ffffff;
    padding: 0;
    margin: 0;
  }
  h1 {
    color: #fbb44a;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .profile {
    flex-direction: row;
  }
  .avatar {
    min-width: 30%;
  }
  .avatar img {
    height: 100px;
    width: 100px;
  }
  .user_stats {
    min-width: 60%;
  }
  h2 {
    color: #fbb44a;
    text-align: center;
    border-radius: 5px;
    margin-top: 0px;
  }
  span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
  h5 {
    display: block;
    color: #36454f;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  #webinar {
    display: none;
  }
  #title {
    border-style: solid;
    border-color: #36454f;
    border-radius: 5px;
    margin-top: 20px;
  }
  button {
    background-color: #fbb44a;
    color: #36454f;
    padding: 0px 30px;
    font-size: 15px;
    border: outset;
    border-color: #fbb44a;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  button:active {
    background-color: #fbb44a;
    transform: translateY(3px);
    border: solid;
    border-color: #fbb44a;
  }
  .ul {
    text-align: left;
  }
  .li,
  .a {
    display: inline-block;
    color: #fbb44a;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 0px 3px;
  }
  .li:active,
  .li:hover {
    color: #b44afb;
  }

  .li {
    border: none;
    margin-top: 5px;
  }
  .li:last-child {
    border-right: none;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    z-index: 100;
    top: 0;
    box-shadow: 1px 1px 1px;
  }
  .gap {
    margin-bottom: 20px;
  }
  #categories {
    font-size: 25px;
  }
  .back_button {
    text-decoration: none;
    display: inline-block;
    text-align: left;
    color: #36454f;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #fbb44a;
  }
  #myUL {
    border-style: none;
  }
  .list {
    font-size: 15px;
    background: #ffffff;
    color: #36454f;
    margin-bottom: 1px;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 5px;
  }
  label {
    font-weight: bold;
  }
  #select {
    padding: 5px;
    color: #36454f;
    border-color: #fbb44a;
    border-radius: 7.5px;
    width: 150px;
  }
  .column {
    float: left;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .deleteAccount,
  .logout,
  .logoutAll {
    color: red;
    margin-top: 10px;
    background: #ffffff;
    border-style: none;
    font-size: 10px;
    box-shadow: none;
  }
  .signedIn {
    display: none;
  }
  .register,
  .login {
    color: #b44afb;
    margin-top: 10px;
    background: #4afbb4;
    border-style: none;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none;
  }
  :root {
    --lightgray: #efefef;
    --blue: steelblue;
    --white: #fff;
    --black: rgba(0, 0, 0, 0.8);
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black);
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
    z-index: 200;
  }
  .is-visible {
    visibility: visible;
    opacity: 1;
  }
  .modal-dialog {
    width: 95%;
    background: var(--white);
  }
  .modal-dialog > * {
    padding: 20px;
  }

  .modal-header {
    background: var(--lightgray);
    display: flex;
    align-items: center;
    justify-content: spae-between;
  }
  .fa,
  .fab {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .fa:hover,
  .fab:hover {
    opacity: 0.7;
  }
  .fa-twitter {
    background: #00acee;
    color: white;
  }
  .fa-instagram {
    background: #cd486b;
    color: white;
  }
  .fa-discord {
    background: #7289da;
    color: white;
  }
  .both {
    height: 400px;
    background: #e9e9e9;
    overflow-y: scroll;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .left {
    float: left;
    width: 45%;
  }
  .right {
    float: right;
    width: 45%;
  }
  .force-overflow {
    min-height: 1000px;
  }
  .yourWebinars::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
  }
  .yourWebinars::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fbb44a;
  }
  .mainWebinars::-webkit-scrollbar {
    width: 10px;
    background: none;
  }
  .mainWebinars::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fbb44a;
  }
  .purchasedWebinars::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
  }
  .purchasedWebinars::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fbb44a;
  }
  .selection::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
  }
  .selection::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fbb44a;
  }
  .grid {
    display: grid;
    text-align: center;
    height: 100vh;
    margin-top: 60px;
  }
  .mainWebinars {
    grid-column: 2;
    grid-row: 1/3;
    height: 93vh;
    width: 60vw;
    margin-left: -5px;
    padding-left: 5px;
    border-right: solid 1px;
    overflow-y: scroll;
  }
  .mainWebinarsContain {
    column-count: 3;
    column-width: 100px;
    padding-right: 5px;
  }
  .purchasedWebinars {
    grid-column: 3;
    height: 45vh;
    width: 20vw;
    border-bottom: solid 1px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 4vw;
    padding-left: 3vw;
  }
  .yourWebinars {
    grid-column: 3;
    height: 50vh;
    width: 20vw;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 4vw;
    padding-left: 3vw;
  }
  .selection {
    grid-column: 1;
    grid-row: 1/3;
    width: 12vw;
    overflow-y: scroll;
    text-align: left;
    padding-left: 5px;
/*     background: #f3f6fd; */
    border-right: solid 1px;
    height: 93vh;
  }
  .tablet {
    display: none;
  }
  #copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ffffff;
  }
  .title {
    break-inside: avoid-column;
    color: #b44afb;
    max-width: 20vw;
    border: none;
    box-shadow: 1px 1px 10px 1px rgba(180, 74, 251,0.7);
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .title:first-child {
    border: none;
  }
  .thumbnail {
    width: 18vw;
  }
  #title {
    border-style: none;
    color: #b44afb;
    font-size: 30px;
  }
  #Video {
    top: 400px;
    width: 50vw;
    height: 35vh;
  }
  .video {
    width: 18vw;
    height: 10vw;
    color: #b44afb;
  }
  .videoTitle {
    break-inside: avoid-column;
    color: #b44afb;
    max-width: 20vw;
    border: none;
    box-shadow: 1px 1px 10px 1px rgba(180, 74, 251,0.7);
    border-radius: 10px;
    margin-bottom: 35px;
    padding-bottom: 10px;
  }
  #joinImg {
    width: 60vh;
  }
  .cinema-visible {
    visibility: visible;
    opacity: 1;
  }
  .filter:hover {
    color: #b44afb;
  }
  .filter:active {
    color: #b44afb;
    background: #fbb44a;
  }
  .followingStyle:hover {
    color: #b44afb;
  }
  #grid {
    margin-top: 60px;
    grid-template-columns: [col1] 40% [col2] 25% [col3] 30%;
    grid-template-rows: [row1] 45vh [row2] 45vh;
    display: grid;
    text-align: center;
    overflow: hidden;
  }
  .grid_1 {
    grid-column: 1;
    grid-row: 1 / 3;
    margin-left: -100px;
  }
  .grid_2 {
    grid-column: 2;
    grid-row: 1;
  }
  .grid_3 {
    grid-column: 2;
    grid-row: 2;
  }
  .grid_4 {
    grid-column: 3;
    grid-row: 1;
  }
  .grid_5 {
    grid-column: 3;
    grid-row: 1/3;
    overflow-y: scroll;
    padding-top: 15px;
  }
  #profileURL {
    margin-top: 200px;
    margin-bottom: -100px;
  }
  #translate {
    color: #36454F;
  }
  .a_label {
    text-decoration: none; 
    color: #36454f; 
    font-weight: normal; 
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) and (min-width: 620px) {
  .tablet {
    display: block;
  }
  .searchHeader {
    display: none;
  }
  #joinImg {
    position: absolute;
    right: 2vw;
    top: 100px;
    width: 60vh;
  }
  .grid {
    display: grid;
    text-align: center;
    height: 80vh;
  }
  .mainWebinars {
    grid-column: 1;
    grid-row: 1/3;
    height: 85vh;
    width: 60vw;
    border-right: solid 1px;
    overflow-y: scroll;
  }
  .mainWebinarsContain {
    column-count: 2;
    column-width: 100px;
    padding-right: 5px;
  }
  .purchasedWebinars {
    grid-column: 2;
    height: 40vh;
    width: 30vw;
    border-bottom: solid 1px;
    overflow-y: scroll;
    padding-right: 5vw;
    padding-left: 4vw;
  }
  .yourWebinars {
    grid-column: 2;
    height: 40vh;
    width: 30vw;
    overflow-y: scroll;
    padding-right: 5vw;
    padding-left: 4vw;
  }
  #copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ffffff;
  }
  .title {
    break-inside: avoid-column;
    color: #b44afb;
    max-width: 30vw;
  }
  .thumbnail {
    width: 27vw;
  }
  #title {
    border-style: none;
    color: #b44afb;
    font-size: 30px;
  }
  #Video {
    top: 400px;
    width: 50vw;
    height: 35vh;
  }
  .video {
    width: 27vw;
    height: 15.5vw;
    color: #b44afb;
  }
  .videoTitle {
    border: solid;
    border-radius: 5px;
    border-color: #4afbb4;
    color: #b44afb;
    margin-top: 20px;
    background: #ffffff;
    max-width: 30vw;
  }
  .selection {
    display: none;
  }
}
