body {
  font-family: system-ui;
  background: #D9D9D9;
  color: #36454F;
  text-align: center;
}
h1 {
  font-family: system-ui;
  color: #FBB44A;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
h2 {
  font-family: system-ui;
  color: #36454F;
  text-align: center; 
  background: #f3f3f3;
  margin-top: 50px;
}
span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
h5 {
  display: block;
  color: #36454F;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
nav, ul, li {
  display: inline-block;
  margin-right: auto;
  Font-size: small;
  color: #FBB44A;
}
